<div class="container p-5 my-5"  >
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">CEP</th>
        <th scope="col">Rua</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Empresa Responsavel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes" center mr-auto>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.cep}}</td>
        <td>{{cliente.rua}}</td>
        <td>{{cliente.numero}}</td>
        <td>{{cliente.bairro}}</td>
        <td>{{cliente.cidade}}</td>
        <td>{{cliente.estado}}</td>
        <td>
          <button class="btn btn-outline-success" (click)="verEmpresa()"
          >Ver detalhes</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container text-center p-5 my-5">
    <button (click)="cadastrarNovoCliente()"  type="button" class="btn btn-secondary">Cadastrar novo cliente</button>
    </div>
    

</div>